<!-- name -->
<!-- baseUrl -->
<!-- confirmationCode -->
<h1>Reset Password Confirmation</h1>
<h2>Hello <%= name %></h2>
<div>
    <p>We received a request to reset your password. If you did not initiate this request please ignore this email. If
        you do want to reset your password then first click on the link below and we will send you a new password. We
        strongly suggest you change the password we send you.
    </p>

    <a href=<%= baseUrl %>/auth/email/confirm/password-reset/<%= confirmationCode %>> Click here to reset your password</a>
</div>